
#header1 {
    text-align: center;
    background-color:coral;
    padding: 40px;
}

h2 {
  font-weight: 1000;
  margin-right: 60%;
}

#ender1 {
  background-color: antiquewhite;
  padding: 20px;
  font-weight: 550;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

#creater {
  text-align: center;
  padding: 2px 20%;
}

p {
  margin: 0px;
  font-weight: 400;
}

/* flex container and its children*/

.flex-container {
    display: flex;
    flex-flow: column nowrap;
}

#formHere {
    border: 3px;
    width: 400px;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: 0;
}

#tableHere {
    border: 3px;
    justify-content: flex-end;
    margin-left: 50%;
}

